bin
pkg
src/github.com/
*.DS_Store
src/gopl.io/*
src/honnef.co/
src/golang.org/x/tools/
src/rolandvarga/logstalker/*.log
src/rolandvarga/training/
src/rolandvarga/helper/os/cases/*
src/rolandvarga/pod-autoscaler/
src/rolandvarga/es-cleaner/
src/rolandvarga/arbitrator/
