bin
pkg
src/github.com/
src/rolandvarga/logstalker/*.log
*.DS_Store
src/rolandvarga/training/
src/rolandvarga/helper/os/cases/*
src/gopl.io/*
src/rolandvarga/pod-autoscaler/
src/rolandvarga/es-cleaner/
